.about-company {
  text-align: left;
  padding-top: 1rem;

  &__cover {
    width: 100%;
    height: 185px;

    @media (min-width: @screen-xs) {
      width: 370px;
      height: 250px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }

  &__text {

    @media (min-width: @screen-lg) {
      padding-left: 70px;
    }

    p {
      line-height: 24px;
      letter-spacing: .05em;
    }
  }
}