.about-advantages {
  padding-top: 2rem;
  letter-spacing: .05em;
  text-align: left;

  &__title {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 2rem;

    @media (min-width: @screen-sm) {
      font-size: 26px;
    }
  }

  &__desc-list {

    dt {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 1rem;
    }

    dd {
      line-height: 24px;
      margin: 0;
      max-width: 450px;
    }
  }

  &__desc-group {
    margin-bottom: 2rem;
    position: relative;
    padding-left: 2.5rem;
  }

  &__desc-cover {
    position: absolute;
    left: 0;
  }
}