.btn {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .05em;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  color: @white;
  background-color: @blue;
  background-image: none;
  padding: 17px 13px;
  touch-action: manipulation;
  overflow: hidden;

  @media (min-width: @screen-sm) {
    font-size: 13px;
    padding: 25px 45px;
  }

  &--with-shadow {
    box-shadow: 0px 14px 20px 0px rgba(29, 23, 14, 0.07);
  }

  &--bg-blue {
    background-color: @blue;
    overflow: hidden;

    span {
      position: relative;
      left: 0;
      transition: all .28s ease;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/btn-arrow--white.svg');
      transition: all .28s ease;
      display: inline-block;
      width: 14px;
      height: 10px;
      right: -20px;
      opacity: 0;
      top: 50%;
      margin-top: -5px;
    }

    &:hover {

      span {
        left: -10px;
      }

      &:after {
        right: 30px;
        opacity: 1;
      }
    }
  }

  &--bg-white {
    background-color: @white;
    color: @blue;
    overflow: hidden;

    span {
      position: relative;
      left: 0;
      transition: all .28s ease;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/btn--arrow.svg');
      transition: all .28s ease;
      display: inline-block;
      width: 14px;
      height: 10px;
      right: -20px;
      opacity: 0;
      top: 50%;
      margin-top: -5px;
    }

    &:hover {

      span {
        left: -10px;
      }

      &:after {
        right: 30px;
        opacity: 1;
      }
    }
  }

  &--small {
    padding: 13px 30px;

    @media (min-width: @screen-sm) {
      font-size: 13px;
      padding: 15px 40px;
    }
  }
}
