.burger {
  width: 45px;
  height: 45px;
  text-align: center;
  margin-left: auto;
  display: inline-block;
  z-index: 10;

  @media (min-width: @screen-lg) {
    display: none;
  }

  svg {
    cursor: pointer;
    pointer-events: visible;
    // -webkit-tap-highlight-color: rgba(0,0,0,0);

    g {
      transform-origin: center center;
    }

    &:hover {

      g.one {
        @keyframes up {
          from {
            transform: matrix(1,0,0,1,1.0420000000000016,9.5);
          }
          10% {
            transform: matrix(1.35, 0, 0, 1, 1.4, 5.5);
          }
          to {
            transform: matrix(1.07, 0, 0, 1, 1.4, 5.5);
          }
        }
        animation-name: up;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(.075, .82, .165, 1);
        animation-fill-mode: forwards;
        animation-delay: .06s;
      }

      g.two {
        @keyframes middle {
          from {
            transform: matrix(1,0,0,1,1.0420000000000016, 17.5);
          }
          10% {
            transform: matrix(1.35, 0, 0, 1, 1.4, 17.5);
          }
          to {
            transform: matrix(1.07, 0, 0, 1, 1.4, 17.5);
          }
        }
        animation-name: middle;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(.075, .82, .165, 1);
        animation-fill-mode: forwards;
        animation-delay: .03s;
      }

      g.three {
        @keyframes bottom {
          from {
            transform: matrix(1,0,0,1,1.0420000000000016, 25.5);
          }
          10% {
            transform: matrix(1.35, 0, 0, 1, 1.4, 29.5);
          }
          to {
            transform: matrix(1.07, 0, 0, 1, 1.4, 29.5);
          }
        }
        animation-name: bottom;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(.075, .82, .165, 1);
        animation-fill-mode: forwards;
        animation-delay: .06s;
      }
    }
  }
}