.card {
  max-width: 370px;
  height: 270px;
  position: relative;
  perspective: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;

  &:hover {

    @media (min-width: @screen-sm) {
      .card__inner {
        transform: rotateY(180deg);
      }
    }
  }

  &__inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0px 1px 8px 0px rgba(29, 23, 14, 0.1);

    cursor: pointer;

    > div {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
  }

  &__front {
    background-color: @bg--gray;
    background-repeat: no-repeat;
    background-position: 1rem 1rem;
    background-size: inherit;

    p {
      margin: 0;
      display: none;
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      letter-spacing: 0.05em;

      @media (min-width: @screen-sm) {
        display: block;
      }
    }
  }

  &__back {
    background-color: @blue;
    transform: rotateY(180deg);
    padding: 2rem;
    color: @white;
    text-align: left;
    letter-spacing: 0.05em;

    h3 {
      font-weight: 400;
      font-size: 26px;
      margin-bottom: 1rem;
    }

    p {
      font-size: 18px;
      line-height: 28px;
    }
  }
}
