.form {

  &__group {
    width: 100%;
    margin-bottom: 1rem;

    @media (min-width: @screen-xs) {
      width: 400px;
    }

    input,
    textarea {
      width: 100%;
      height: 50px;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: .05em;
      padding: 10px;
      border: 1px solid #999;

      &::placeholder {
        color: #999;
      }
    }

    textarea {
      height: 120px;
    }

    [type='submit'] {

      &:focus {
        outline: none;
      }
    }
  }
}