.pull-page-contacts {
  padding: 3rem 0;

  @media (min-width: @screen-lg) {
    padding: 5rem 0;
  }

  &__title {
    font-size: 26px;
    letter-spacing: .05em;
    margin-bottom: 2rem;

    @media (min-width: @screen-sm) {
      font-size: 48px;
      margin-bottom: 3rem;
    }
  }

  &__address {
    display: block;
    font-style: normal;
    margin-bottom: 2rem;
  }

  &__address-list {
    list-style-type: none;

    li {
      line-height: 24px;
      position: relative;
      padding-left: 2rem;
      margin-bottom: 1rem;

      a {
        text-decoration: none;
        color: @text-color;
        margin-bottom: .5rem;
      }

      a[href^='tel:'] {
        font-weight: 500;
        font-size: 20px;
        display: block;
      }
    }
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 4px;
  }

  &__map {
    width: 100%;
    height: 300px;

    @media (min-width: @screen-sm) {
      height: 330px;
    }

    @media (min-width: @screen-lg) {
      height: 400px;
    }
  }

  &__feedback {
    padding: 2rem 0;
  }

  &__feedback-title {
    margin-bottom: 2rem;
  }
}