.full-page-item {
  padding: 3rem 0;
  background-color: @white;

  @media (min-width: @screen-lg) {
    padding: 5rem 0;
  }

  &__inner {
    max-width: 100%;

    @media (min-width: @screen-md) {
      max-width: 870px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: .05em;
    margin-bottom: 2rem;

    @media (min-width: @screen-sm) {
      font-size: 48px;
      line-height: 72px;
      margin-bottom: 3rem;
    }
  }

  &__cover {
    width: 100%;
    height: 160px;
    margin-bottom: 2rem;

    @media (min-width: @screen-xs) {
      height: 480px;
      margin-bottom: 3rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    line-height: 24px;
    letter-spacing: .05em;

    @media (min-width: @screen-sm) {
      font-size: 20px;
      line-height: 28px;
    }
  }
}