.item {
  text-align: left;
  letter-spacing: .05em;

  &__cover {
    width: 100%;
    height: 150px;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 22px;
  }

  p {
    line-height: 24px;
    margin: 0;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 2rem;
    }

    time {
      color: #999;
    }
  }

  &--main-news {

    @media (min-width: @screen-md) {
      margin-bottom: 3rem;
    }
  }
}