.logo {

  .logo-icon {
    display: inline-block;
  }

  &__text {
    font-weight: 500;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: .7rem;

    @media (max-width: (@screen-xs - 1)) {
      font-size: @font-size--small;
    }

    @media (min-width: @screen-md) {
      padding-left: 1rem;
    }
  }
}