.main-nav {
  padding-top: 30px;

  &__list {
    list-style-type: none;
  }

  &__item {
    display: inline-block;
    letter-spacing: 0.05em;

    &:not(:last-child) {
      margin-right: 1.5em;
    }
  }

  &__link {
    padding: .7em 0;
    color: @text-color;
    position: relative;
    transition: all ease-in-out 0.5s;

    &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 1px;
      background-color: @text-color;
      left: 0;
      bottom: 0;
      transition: all ease-in-out 0.5s;
    }

    &:hover {

      &::after {
        width: 100%;
      }
    }
  }
}