.main-subtitle {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-bottom: 2rem;

  @media (min-width: @screen-sm) {
    font-size: 48px;
  }

  @media (min-width: @screen-lg) {
    margin-bottom: 3rem;
  }
}