.main-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.03em;
  margin-bottom: 2rem;
  max-width: 400px;

  @media (min-width: @screen-sm) {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0.05em;
    max-width: 640px;
  }

  @media (min-width: @screen-lg) {
    font-size: 68px;
    line-height: 72px;
    max-width: 900px;
  }
}