.mobile-nav {
  width: 100%;
  height: 100%;
  background-color: @blue;
  color: @white;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 2;
  transform: translateX(100%);
  transition-duration: .7s;
  transition-timing-function: cubic-bezier(.075, .82, .165, 1);

  @media (min-width: @screen-xs) {
    width: 60%;
  }

  @media (min-width: @screen-md) {
    width: 40%;
  }

  &__list {
    opacity: 0;
    list-style-type: none;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 22px;
    text-transform: uppercase;
    opacity: 0;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__link {
    color: @white;
    padding: 8px 0;
    position: relative;
    transition: all ease-in-out 0.5s;

    &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 1px;
      background-color: @white;
      left: 0;
      bottom: 0;
      transition: all ease-in-out 0.5s;
    }

    &:hover {

      &::after {
        width: 100%;
      }
    }
  }

  @supports not (display: flex) {

    &__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

    }
  }

  // @supports (display: flex) {
  //   display: flex;
  //   flex-wrap: nowrap;
  //   flex-direction: row;
  //   align-items: center;
  //   justify-content: center;
  // }

  &__exit {
    opacity: 0;
    position: absolute;
    top: 18px;
    right: 15px;
    width: 32px;
    height: 24px;
    background-color: transparent;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;

    span {
      display: inline-block;
      vertical-align: middle;
      color: inherit;
      background-image: none;
      transition: opacity 0.25s ease-in-out;
      background-color: transparent;
      border-color: transparent;
      padding-right: 2em;
      outline: none;
      position: relative;

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 30px;
        height: 2px;
        border-radius: 15px;
        background-color: @white;
      }

      &::before {
        transform: rotate3d(0,0,1,-45deg);
      }

      &::after {
        transform: rotate3d(0,0,1,45deg);
      }
    }
  }

  &--is-active {
    transform: translateX(0);

    @keyframes appear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 10;
      }
    }

    .mobile-nav__list,
    .mobile-nav__exit {
      animation-name: appear;
      animation-duration: .7s;
      animation-delay: .5s;
      animation-timing-function: cubic-bezier(.075, .82, .165, 1);
      animation-fill-mode: forwards;
    }
  }
}