.page-header {
  position: relative;
  background-color: @white;
  padding: 1em 0;
  box-shadow: 0px 1px 8px 0px rgba(29, 23, 14, 0.1);

  &__content {
    text-align: right;
    padding-top: 20px;

    @media (min-width: @screen-sm) {
      padding-top: 0;
    }
  }

  &__feedback {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    margin-right: 10px;

    @media (min-width: @screen-lg) {
      padding-top: 0;
    }
  }

  &__feedback-icon {
    margin-right: 1em;

    @media (min-width: @screen-sm) {
      display: none;
    }
  }

  &__feedback-phone {
    color: @text-color;
    position: relative;
    display: inline-block;

    @media (max-width: (@screen-sm - 1)) {
      display: none;
    }

    @media (min-width: @screen-lg) {
      font-size: 26px;
      margin-bottom: 1rem;
    }
  }

  &__feedback-text {
    padding-top: 1em;
    text-transform: uppercase;
    color: @text-color--lighter;
    font-size: @font-size--small;
    display: none;

    @media (min-width: @screen-sm) and (max-width: (@screen-lg - 1)) {
      display: block;
    }
  }

  &__feedback-btn {

    @media (max-width: (@screen-lg - 1)) {
      display: none;
    }
  }
}