.page-footer {
  padding: 1rem 0;
  color: @white;
  background-color: @blue;
  background-image: linear-gradient( 85deg, rgb(139,209,207) 0%, rgb(109,200,252) 100%);

  @media (min-width: @screen-lg) {
    padding: 1.5rem 0;
  }

  &__copyright {

    @media (max-width: (@screen-sm - 1)) {
      text-align: center;
    }

    p {
      line-height: 22px;
      margin: 0;

      @media (max-width: (@screen-sm - 1)) {
        margin-bottom: 1rem;
        font-size: @font-size--small;
        line-height: 18px;
      }

      span {
        @media (max-width: (@screen-xs - 1)) {
          display: block;
        }
      }
    }
  }

  &__address {
    text-align: center;

    @media (min-width: @screen-sm) {
      text-align: right;
    }
  }
}