.projects {
  padding: 3rem 0;
  text-align: center;
  background-color: @white;

  @media (min-width: @screen-lg) {
    padding: 5rem 0;
  }

  &__inner {
    width: 100%;
    margin: 0 auto;

    @media (min-width: @screen-sm) {
      width: (@screen-sm - 110);
    }

    @media (min-width: @screen-md) {
      width: (@screen-md - 110);
    }

    @media (min-width: @screen-lg) {
      width: (@screen-lg - 110);
      padding: 2rem 0;
    }
  }

  &__item {
    padding-bottom: 4rem;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.075, .82, .165, 1);
  }

  &__content {
    width: 100%;
    height: 240px;
    margin: 0;

    @media (min-width: @screen-sm) {
      height: 290px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-bottom: 1rem;
    }

    figcaption {
      font-size: @font-size--accent;
      height: 24px;
      letter-spacing: .05em;
    }
  }

   /*! SLIDER*/
  .owl-nav {
    position: absolute;
    top: 43%;
    left: 0;
    right: 0;
    transform: translateY(-29px);
    margin: 0;
  }

  .owl-nav [class*='owl-'] {
    background: transparent;
    margin: 0;
    padding: 0;
  }

  .owl-theme .owl-nav [class*='owl-']:hover {
    background: none;
  }

  .owl-prev, .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    margin: 0;
  }

  .owl-prev {
    left: -50px;
  }

  .owl-next {
    right: -50px;
  }

  .owl-item {

    .projects__item {
      transform: scale(0.7);
    }
  }

  .owl-item.active.center {

    .projects__item {
      transform: scale(1);
    }
  }
}