.promo {
  background-color: @bg--gray;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;

  @media (min-width: @screen-sm) {
    padding-top: 160px;
    padding-bottom: 160px;
    background-position: 100% 0;
    background-size: auto;
  }

  @media (min-width: @screen-lg) {
    padding-top: 180px;
    padding-bottom: 230px;
  }

  &__desc {
    font-size: @font-size--accent;
    line-height: 28px;
    letter-spacing: .05em;
    margin-bottom: 2rem;
    max-width: 500px;

    @media (min-width: @screen-sm) {
      font-size: 20px;
      max-width: 570px;
    }

    @media (min-width: @screen-lg) {
      max-width: 600px;
    }
  }
}