.services {
  text-align: center;
  background-color: @white;
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: @screen-lg) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__popover {

    &:hover,
    &:focus {
      outline: none;
    }
  }

  /*! POPOVER*/
  .popover {
    background-color: @blue;
    color: @white;
    padding: 1rem 0.5rem;
    border: none;
    border-radius: 0;
  }

  .arrow,
  .popover.bottom > .arrow {

    &::after {
      border-bottom-color: @blue;
    }
  }

  .popover-title {
    font-size: 22px;
    letter-spacing: .05em;
    background-color: @blue;
    border-bottom: none;
  }

  .popover-content {
    line-height: 24px;
    letter-spacing: .05em;
  }
}