.special-offers {
  background-color: @bg--gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%;
  padding-top: 110px;
  padding-bottom: 110px;
  text-align: center;

  @media (min-width: @screen-lg) {
    background-image: url(../images/bg--special-offers.png);
    padding-top: 140px;
  }

  &__inner {
    margin: 0 auto;
    width: 80%;
    text-align: left;

    @media (min-width: @screen-lg) {
      width: (@screen-lg - 200);
    }
  }

  &__cover {
    width: 100%;
    height: 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 1.5rem;

    @media (min-width: @screen-xs) {
      height: 230px;
    }

    @media (min-width: @screen-sm) {
      height: 330px;
    }

    @media (min-width: @screen-lg) {
      margin-bottom: 0;
    }
  }

  &__content {

    @media (min-width: @screen-lg) {
      padding-top: 3rem;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: .05em;
    margin-bottom: 1rem;

    @media (min-width: @screen-sm) {
      font-size: 26px;
    }
  }

  &__desc-list {
    list-style-type: none;
    padding-left: 1rem;
    line-height: 26px;
    margin-bottom: 1rem;

    @media (min-width: @screen-sm) {
      font-size: @font-size--accent;
      line-height: 28px;
    }

    li {
      position: relative;
      letter-spacing: .05em;

      &::before {
        content: '–';
        position: absolute;
        left: -1rem;
      }
    }
  }

  /*! SLIDER*/
  .owl-nav {
    position: absolute;
    top: 16%;
    left: 0;
    right: 0;
    transform: translateY(-29px);
    margin: 0;

    @media (min-width: @screen-xs) {
      top: 28%;
    }

    @media (min-width: @screen-sm) {
      top: 29%;
    }

    @media (min-width: @screen-lg) {
      top: 50%;
    }
  }

  .owl-nav [class*='owl-'] {
    background: transparent;
    margin: 0;
    padding: 0;
  }

  .owl-theme .owl-nav [class*='owl-']:hover {
    background: none;
  }

  .owl-prev, .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    margin: 0;
  }

  .owl-prev {
    left: -40px;

    @media (min-width: @screen-lg) {
      left: -50px;
    }
  }

  .owl-next {
    right: -40px;

    @media (min-width: @screen-lg) {
      right: -50px;
    }
  }
}