.testimonials {
  padding: 3rem 0;
  text-align: center;
  color: @white;
  background-color: @blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: @screen-lg) {
    padding: 5rem 0;
  }

  &__inner {
    margin-bottom: 2rem;
    width: 100%;
    margin: 0 auto;

    @media (min-width: @screen-sm) {
      width: (@screen-sm - 130);
    }

    @media (min-width: @screen-md) {
      width: (@screen-md - 130);
    }

    @media (min-width: @screen-lg) {
      width: (@screen-lg - 130);
      padding: 2rem 0;
    }
  }

  &__item {
    text-align: left;
    color: @text-color;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;
    padding-bottom: 3rem;
    position: relative;
    letter-spacing: .05em;
  }

  &__cover {
    margin-bottom: 1rem;
    width: 100px;
    height: 100px;

    img {
      object-fit: cover;
    }
  }

  &__text {
    line-height: 24px;
    margin-bottom: 2rem;
  }

  &__company {
    position: absolute;
    left: 2rem;
    bottom: 1rem;
    margin: 0;
    font-size: 22px;
  }

   /*! SLIDER */
  .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-29px);
    margin: 0;
  }

  .owl-nav [class*='owl-'] {
    background: transparent;
    margin: 0;
    padding: 0;
  }

  .owl-theme .owl-nav [class*='owl-']:hover {
    background: none;
  }

  .owl-prev, .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    margin: 0;

    svg {
      padding: 5px;

      polyline {
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }

    &:hover,
    &:focus {

      svg polyline {
        stroke-width: 3;
      }
    }

    &:active {

      svg polyline {
        stroke-width: 6;
        transition-property: all;
        transition-duration: .15s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }

  .owl-prev {
    left: -60px;

    @media (min-width: @screen-lg) {
      left: -64px;
    }

    @media (min-width: (@screen-lg + 100)) {
      left: -80px;
    }
  }

  .owl-next {
    right: -60px;

    @media (min-width: @screen-lg) {
      right: -64px
    }

    @media (min-width: (@screen-lg + 100)) {
      right: -80px;
    }

    svg {
      transform: rotate3D(0, 1, 0, 180deg);
    }
  }
}
