@font-face {
    font-family: 'Myriad Pro';
    src: local('Myriad Pro'),
         url('../fonts/myriad-pro.woff') format('woff'),
         url('../fonts/myriad-pro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}