/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@about-key-name: 'about--key';
@about-key-x: 149px;
@about-key-y: 59px;
@about-key-offset-x: -149px;
@about-key-offset-y: -59px;
@about-key-width: 23px;
@about-key-height: 23px;
@about-key-total-width: 190px;
@about-key-total-height: 159px;
@about-key-image: '../images/sprite-png.png';
@about-key: 149px 59px -149px -59px 23px 23px 190px 159px '../images/sprite-png.png' 'about--key';
@about-price-name: 'about--price';
@about-price-x: 149px;
@about-price-y: 0px;
@about-price-offset-x: -149px;
@about-price-offset-y: 0px;
@about-price-width: 27px;
@about-price-height: 26px;
@about-price-total-width: 190px;
@about-price-total-height: 159px;
@about-price-image: '../images/sprite-png.png';
@about-price: 149px 0px -149px 0px 27px 26px 190px 159px '../images/sprite-png.png' 'about--price';
@about-quality-name: 'about--quality';
@about-quality-x: 149px;
@about-quality-y: 30px;
@about-quality-offset-x: -149px;
@about-quality-offset-y: -30px;
@about-quality-width: 27px;
@about-quality-height: 25px;
@about-quality-total-width: 190px;
@about-quality-total-height: 159px;
@about-quality-image: '../images/sprite-png.png';
@about-quality: 149px 30px -149px -30px 27px 25px 190px 159px '../images/sprite-png.png' 'about--quality';
@about-skills-name: 'about--skills';
@about-skills-x: 118px;
@about-skills-y: 81px;
@about-skills-offset-x: -118px;
@about-skills-offset-y: -81px;
@about-skills-width: 27px;
@about-skills-height: 26px;
@about-skills-total-width: 190px;
@about-skills-total-height: 159px;
@about-skills-image: '../images/sprite-png.png';
@about-skills: 118px 81px -118px -81px 27px 26px 190px 159px '../images/sprite-png.png' 'about--skills';
@address-name: 'address';
@address-x: 149px;
@address-y: 108px;
@address-offset-x: -149px;
@address-offset-y: -108px;
@address-width: 15px;
@address-height: 20px;
@address-total-width: 190px;
@address-total-height: 159px;
@address-image: '../images/sprite-png.png';
@address: 149px 108px -149px -108px 15px 20px 190px 159px '../images/sprite-png.png' 'address';
@arrow-left-small-name: 'arrow-left--small';
@arrow-left-small-x: 93px;
@arrow-left-small-y: 81px;
@arrow-left-small-offset-x: -93px;
@arrow-left-small-offset-y: -81px;
@arrow-left-small-width: 21px;
@arrow-left-small-height: 40px;
@arrow-left-small-total-width: 190px;
@arrow-left-small-total-height: 159px;
@arrow-left-small-image: '../images/sprite-png.png';
@arrow-left-small: 93px 81px -93px -81px 21px 40px 190px 159px '../images/sprite-png.png' 'arrow-left--small';
@arrow-left-white-name: 'arrow-left--white';
@arrow-left-white-x: 81px;
@arrow-left-white-y: 0px;
@arrow-left-white-offset-x: -81px;
@arrow-left-white-offset-y: 0px;
@arrow-left-white-width: 30px;
@arrow-left-white-height: 58px;
@arrow-left-white-total-width: 190px;
@arrow-left-white-total-height: 159px;
@arrow-left-white-image: '../images/sprite-png.png';
@arrow-left-white: 81px 0px -81px 0px 30px 58px 190px 159px '../images/sprite-png.png' 'arrow-left--white';
@arrow-left-name: 'arrow-left';
@arrow-left-x: 115px;
@arrow-left-y: 0px;
@arrow-left-offset-x: -115px;
@arrow-left-offset-y: 0px;
@arrow-left-width: 30px;
@arrow-left-height: 58px;
@arrow-left-total-width: 190px;
@arrow-left-total-height: 159px;
@arrow-left-image: '../images/sprite-png.png';
@arrow-left: 115px 0px -115px 0px 30px 58px 190px 159px '../images/sprite-png.png' 'arrow-left';
@arrow-right-small-name: 'arrow-right--small';
@arrow-right-small-x: 68px;
@arrow-right-small-y: 81px;
@arrow-right-small-offset-x: -68px;
@arrow-right-small-offset-y: -81px;
@arrow-right-small-width: 21px;
@arrow-right-small-height: 40px;
@arrow-right-small-total-width: 190px;
@arrow-right-small-total-height: 159px;
@arrow-right-small-image: '../images/sprite-png.png';
@arrow-right-small: 68px 81px -68px -81px 21px 40px 190px 159px '../images/sprite-png.png' 'arrow-right--small';
@arrow-right-white-name: 'arrow-right--white';
@arrow-right-white-x: 0px;
@arrow-right-white-y: 81px;
@arrow-right-white-offset-x: 0px;
@arrow-right-white-offset-y: -81px;
@arrow-right-white-width: 30px;
@arrow-right-white-height: 58px;
@arrow-right-white-total-width: 190px;
@arrow-right-white-total-height: 159px;
@arrow-right-white-image: '../images/sprite-png.png';
@arrow-right-white: 0px 81px 0px -81px 30px 58px 190px 159px '../images/sprite-png.png' 'arrow-right--white';
@arrow-right-name: 'arrow-right';
@arrow-right-x: 34px;
@arrow-right-y: 81px;
@arrow-right-offset-x: -34px;
@arrow-right-offset-y: -81px;
@arrow-right-width: 30px;
@arrow-right-height: 58px;
@arrow-right-total-width: 190px;
@arrow-right-total-height: 159px;
@arrow-right-image: '../images/sprite-png.png';
@arrow-right: 34px 81px -34px -81px 30px 58px 190px 159px '../images/sprite-png.png' 'arrow-right';
@logo-icon-name: 'logo-icon';
@logo-icon-x: 0px;
@logo-icon-y: 0px;
@logo-icon-offset-x: 0px;
@logo-icon-offset-y: 0px;
@logo-icon-width: 77px;
@logo-icon-height: 77px;
@logo-icon-total-width: 190px;
@logo-icon-total-height: 159px;
@logo-icon-image: '../images/sprite-png.png';
@logo-icon: 0px 0px 0px 0px 77px 77px 190px 159px '../images/sprite-png.png' 'logo-icon';
@mail-name: 'mail';
@mail-x: 81px;
@mail-y: 62px;
@mail-offset-x: -81px;
@mail-offset-y: -62px;
@mail-width: 16px;
@mail-height: 13px;
@mail-total-width: 190px;
@mail-total-height: 159px;
@mail-image: '../images/sprite-png.png';
@mail: 81px 62px -81px -62px 16px 13px 190px 159px '../images/sprite-png.png' 'mail';
@phone-name: 'phone';
@phone-x: 0px;
@phone-y: 143px;
@phone-offset-x: 0px;
@phone-offset-y: -143px;
@phone-width: 16px;
@phone-height: 16px;
@phone-total-width: 190px;
@phone-total-height: 159px;
@phone-image: '../images/sprite-png.png';
@phone: 0px 143px 0px -143px 16px 16px 190px 159px '../images/sprite-png.png' 'phone';
@social-icon-facebook-name: 'social-icon--facebook';
@social-icon-facebook-x: 180px;
@social-icon-facebook-y: 0px;
@social-icon-facebook-offset-x: -180px;
@social-icon-facebook-offset-y: 0px;
@social-icon-facebook-width: 10px;
@social-icon-facebook-height: 18px;
@social-icon-facebook-total-width: 190px;
@social-icon-facebook-total-height: 159px;
@social-icon-facebook-image: '../images/sprite-png.png';
@social-icon-facebook: 180px 0px -180px 0px 10px 18px 190px 159px '../images/sprite-png.png' 'social-icon--facebook';
@social-icon-instagram-name: 'social-icon--instagram';
@social-icon-instagram-x: 149px;
@social-icon-instagram-y: 86px;
@social-icon-instagram-offset-x: -149px;
@social-icon-instagram-offset-y: -86px;
@social-icon-instagram-width: 18px;
@social-icon-instagram-height: 18px;
@social-icon-instagram-total-width: 190px;
@social-icon-instagram-total-height: 159px;
@social-icon-instagram-image: '../images/sprite-png.png';
@social-icon-instagram: 149px 86px -149px -86px 18px 18px 190px 159px '../images/sprite-png.png' 'social-icon--instagram';
@social-icon-vk-name: 'social-icon--vk';
@social-icon-vk-x: 115px;
@social-icon-vk-y: 62px;
@social-icon-vk-offset-x: -115px;
@social-icon-vk-offset-y: -62px;
@social-icon-vk-width: 21px;
@social-icon-vk-height: 12px;
@social-icon-vk-total-width: 190px;
@social-icon-vk-total-height: 159px;
@social-icon-vk-image: '../images/sprite-png.png';
@social-icon-vk: 115px 62px -115px -62px 21px 12px 190px 159px '../images/sprite-png.png' 'social-icon--vk';
@spritesheet-width: 190px;
@spritesheet-height: 159px;
@spritesheet-image: '../images/sprite-png.png';
@spritesheet-sprites: @about-key @about-price @about-quality @about-skills @address @arrow-left-small @arrow-left-white @arrow-left @arrow-right-small @arrow-right-white @arrow-right @logo-icon @mail @phone @social-icon-facebook @social-icon-instagram @social-icon-vk;
@spritesheet: 190px 159px '../images/sprite-png.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
