<header class="page-header">
  <div class="container">
    <div class="row">

      <div class="col-xs-7  col-sm-6  col-lg-3">
        <div class="logo">
          <div class="logo-icon"></div>
          <strong class="logo__text">Монтаж<br> слаботочных<br> систем</strong>
        </div>
      </div>

      <div class="visible-lg  col-lg-6">
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item"><a href="#" class="main-nav__link">О компании</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Услуги</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Проекты</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Информация</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Контакты</a></li>
          </ul>
        </nav>
      </div>

      <div class="col-xs-5  col-sm-6  col-lg-3">
        <div class="page-header__content">

          <div class="page-header__feedback">
            <div class="page-header__feedback-icon  phone"></div>
            <a href="tel:+78121234567" class="page-header__feedback-phone">+7 (812) 123-45-67</a>

            <div class="page-header__feedback-text">Обратный звонок</div>
            <div class="page-header__feedback-btn">
              <button type="button" class="btn  btn--small  btn--bg-blue">
                <span>Обратный звонок</span>
              </button>
            </div>
          </div>

          <div class="burger">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 63 45" preserveAspectRatio="xMidYMid meet">
              <defs>
                <clipPath>
                  <rect width="63" height="45" x="0" y="0"></rect>
                </clipPath>
              </defs>
              <g>
                <g class="one" transform="matrix(1,0,0,1,1.042, 9.5)" opacity="1" style="user-select: none;">
                  <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                    <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="10" stroke="#6dc8fc" stroke-opacity="1" stroke-width="2" d="M5,5 C5,5 55.917,5 55.917,5"></path>
                  </g>
                </g>
                <g class="two" transform="matrix(1,0,0,1,1.042, 17.5)" opacity="1" style="user-select: none;">
                  <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                    <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="10" stroke="#6dc8fc" stroke-opacity="1" stroke-width="2" d="M5,5 C5,5 55.917,5 55.917,5"></path>
                  </g>
                </g>
                <g class="three" transform="matrix(1,0,0,1,1.042, 25.5)" opacity="1" style="user-select: none;">
                  <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                    <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="10" stroke="#6dc8fc" stroke-opacity="1" stroke-width="2" d="M5,5 C5,5 55.917,5 55.917,5"></path>
                  </g>
                </g>
              </g>
            </svg>
          </div>

        </div>
      </div>

    </div>
  </div>
</header>