<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12  col-sm-8  col-lg-6  col-lg-offset-3">
        <div class="page-footer__copyright">
          <p>Монтаж слаботочных систем <span>2017 © Все права защищены</span></p>
        </div>
      </div>
      <div class="col-xs-12  col-sm-4  col-lg-3">
        <div class="page-footer__address">
          <ul class="social-links">
            <li><a href="#"><div class="social-icon--vk"></div></a></li>
            <li><a href="#"><div class="social-icon--facebook"></div></a></li>
            <li><a href="#"><div class="social-icon--instagram"></div></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>